.loader-container {
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent;
}

.loader-logo {
    width: 130px;
    height: auto;
    filter: drop-shadow(0px 3px 15px rgba(255, 0, 0, 0.35));
}

.loader-text {
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: #d00000;
    letter-spacing: 1px;
}
