.navcontainer {
    background-color: #dc3545;
    padding : 1rem;
    display :flex;
    justify-content : space-around;
    align-items: center;
}

.a-nav {
    color : whitesmoke;
    text-decoration : none;
    font-size : 1.5rem;
    font-weight : bold;
    cursor: pointer;;
}

.logo {
    height : 5.5rem;
}

