.pageSection {
  margin-top: 6rem;
  text-align: center;
}

.cartWidgetLink {
  position: relative;
  cursor: pointer;
  color: black;
  text-decoration: none;
}

.cartWidgetLink:hover {
  opacity: 0.5;
}

.pageSection {
    margin-top: 6rem !important;
    animation: fadeIn 0.6s ease-out;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(15px); }
    to { opacity: 1; transform: translateY(0); }
}
